*{
  font-family: 'Work Sans', sans-serif;
}

.bg-light {
  background-color: #fff !important;
}


.icono-nuevo{
  background-color: rgba(155, 103, 192, 0.94);
    border-radius: 9px;
    color: #fff;
    float: none;
    font-size: 11px;
    line-height: 16px;
    margin: 5px 5px;
    padding: 1px 6px;
   /*  position: relative; */
    vertical-align: top;
    /* position: absolute; */
   /*  right: 6px;
    top: -8px; */
    width: fit-content;
}

.card-text{
  text-align: center;
}
.nombre{
  font-weight: bold;
}