<main>
  <div class="album py-5 bg-light">
    <div class="container">

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
        <div class="col" *ngFor="let lista of Productos" >
          <div class="card" *ngIf="lista.esNuevo">
            <div class="icono-nuevo" >Nuevo</div>
            <img src="assets/images/{{lista.srcImg}}" class="card-img-top">
            <div class="card-body">
              <p class="card-text nombre">{{lista.nombre}}</p>
              <p class="card-text">$ {{lista.precioActual}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</main>