*{
  font-family: 'Work Sans', sans-serif;
}

.bg-light {
  background-color: #fff !important;
}


.icono-nuevo{
  background-color: rgba(149, 0, 255, 0.94);
    border-radius: 9px;
    color: #fff;
    float: none;
    font-size: 11px;
    line-height: 16px;
    margin: 5px 5px;
    padding: 1px 6px;
   /*  position: relative; */
    vertical-align: top;
    /* position: absolute; */
   /*  right: 6px;
    top: -8px; */
    width: fit-content;
}

.card-text{
  text-align: center;
  font-size: 15px;
}
.nombre{
  height: 70px;
}
.precio{
  font-weight: bold;
  color:rgba(24, 240, 186, 1);
}
.card:hover{
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0 20px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  transform: translate(0, -8px);
  -webkit-transition: all 0.3s ease;
-moz-transition: all 0.3s ease;
-o-transition: all 0.3s ease;
-ms-transition: all 0.3s ease;
transition: all 0.3s ease;
}