<main>
    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1>MARCAS</h1>
                <hr>
            </div>
        </div>
        <!--LOGOS-->

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1" style="background-color: transparent;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2" style="background-color: transparent;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3" style="background-color: transparent;"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">

                        <div class="col-md-4 col-xs-12">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQCI9UqoBzG20IFntKhBe39sSxY3-8YEwgKkTvUT4Wj9CwRFnBAwTmO560JDyl9fsSqgDA&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSo-zfUz-vVDilSZxfFfCvIagxHS8q3OBKb42lrk55ylpgdUJKD1cF_fbV_qOX5PCFh5Cw&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 col-xs-12">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQVYdLIyG45hkkYim9bq70joP3ECmiCaxvD8eCewTlmafj2mSrtYRhpxcR0N6VRYx_5898&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQmlTEfLm_tWVIqMiUDeTRvPFlT1N5MM013N3DRosKvO6zeTTWY-8snbpNTUW1YVslIEJQ&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTq_1cdEWDS7fYAz02Z1x9ZmBNby4aLBPsPpyVicPxVEQqPXNgzt_v8uNsQIK-oJNPWbb8&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTMoAC6OERgrIB4h7oGAjtv6QUMtiz-y_YdeyPT4d-WAfNz0khxKP6EQQGuC6dmV5KBn4Q&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQgRn5IwxKDw-wgn8hoKK55VCSOFyoJeDYEA85a3RSH5ViJYqiO0gc3uUTqASdZgs0Z230&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSKmAzMwiCU_En2v3NKtBeQj6b0qrkFxDHhphUn7Vaj-eBS6qrLizA9yzNi2Ha3Ff3Q9-Q&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcS0gaPrp7_RsqytVD_L1uGsyhvEFiSFsk0wtwQcgYX7hIFKHCx6SO7dvfBh8tJqUBRN7AA&usqp=CAU"
                                    style="width: 100px; height: 100px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--FIN LOGOS-->

    </div>
</main>