<main>


    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1>MARCAS</h1>
                <hr>
            </div>
        </div>
        <!--LOGOS-->

        <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1" style="background-color: transparent;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                    aria-label="Slide 2" style="background-color: transparent;"></button>
                <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                    aria-label="Slide 3" style="background-color: transparent;"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>

                    </div>
                </div>
                <div class="carousel-item">
                    <div class="row">

                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                        <div class="col-md-4 mb-3">
                            <div class="">
                                <img class="rounded mx-auto d-block" alt="50%50"
                                    src="../../../assets/imagenes/logo_transparent_background.png" style="width: 100px; height: 100px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>
        <!--FIN LOGOS-->

    </div>





</main>