* {
  font-family: 'Work Sans', sans-serif;
}

.navbar, .dropdown-menu {
  background-color: rgba(24, 240, 186, 1)!important;
}

.navbar-light .navbar-nav .nav-link, .dropdown-item {
  padding-right: 50px;
  color: #fff!important;
}

.dropdown-menu {
  border: 1px solid rgb(123 122 122 / 15%);
}
.navbar{
  box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.41);
  -webkit-box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.41);
  -moz-box-shadow: 0px 4px 9px 1px rgba(0,0,0,0.41);
}


.navbar-nav {
  font-size: 1.5rem;
}

.navbar-nav li a {
  margin-top: 20px;
}

.dropdown-item:focus, .dropdown-item:hover {
  background-color: rgba(255, 145, 0, 1);
}

.pointer {
  cursor: pointer;
}


/* nuevo */
.dropdown:hover .dropdown-menu {
  display: block;
  margin-top: 0px;
}



@media only screen and (max-width: 1070px ) {
  .img-animals{
     display: none;
  }
}