<main>
  <nav class="navbar navbar-expand-lg fixed-top navbar-light bg-light rounded" aria-label="Twelfth navbar example">
    
    <div class="container-fluid">
     
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample10"
        aria-controls="navbarsExample10" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse justify-content-md-center" id="navbarsExample10">
        <ul class="navbar-nav">
          <li style="height: 80px;padding: 10px;"> <a class="navbar-brand" href="#">
            <img src="assets/images/dog-1517090.svg" alt="" width="70"
              height="70" class="rounded mx-auto d-block">
          </a></li> 
          <!-- Perros -->
          <li class="nav-item dropdown">
            <a class="nav-link " href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Perros</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li><a class="dropdown-item" href="#">Alimentos</a></li>
              <li><a class="dropdown-item" href="#">Higiene y Salud</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
              <li><a class="dropdown-item" href="#">Ropa</a></li>
              <li><a class="dropdown-item" href="#">Cama</a></li>
            </ul>
          </li>
          <!-- Gatos -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Gatos</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li><a class="dropdown-item" href="#">Alimentos</a></li>
              <li><a class="dropdown-item" href="#">Higiene y Salud</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
              <li><a class="dropdown-item" href="#">Ropa</a></li>
              <li><a class="dropdown-item" href="#">Cama</a></li>
            </ul>
          </li>
          <!-- Aves -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Aves</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li><a class="dropdown-item" href="#">Alimentos</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
            </ul>
          </li>
          <!-- Peces -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Peces</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li><a class="dropdown-item" href="#">Alimentos</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
            </ul>
          </li>
          <!-- Roedores -->
          <li class="nav-item dropdown">
            <a class="nav-link" href="#" id="dropdown10" data-bs-toggle="dropdown" aria-expanded="false">Roedores</a>
            <ul class="dropdown-menu" aria-labelledby="dropdown10">
              <li><a class="dropdown-item" href="#">Alimentos</a></li>
              <li><a class="dropdown-item" href="#">Higiene y Salud</a></li>
              <li><a class="dropdown-item" href="#">Accesorios</a></li>
              <li><a class="dropdown-item" href="#">Cama</a></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <app-banner-static></app-banner-static>
  <app-img-menu></app-img-menu>
  <app-nav-tabs></app-nav-tabs>
  <app-product-cards></app-product-cards>
  <app-logo-marcas></app-logo-marcas>
  <app-footer></app-footer>
</main>