<main>
  <!-- Footer -->
  <footer class="text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-facebook-f"></i></a>

        <!-- Whatsapp -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-whatsapp"></i></a>

        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-1" href="#!" role="button"><i class="fab fa-instagram"></i></a>
      </section>
      <!-- Section: Social media -->

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!--  <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul> -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Información</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Quienes somos</a>
              </li>
              <li>
                <a routerLink="/preguntas/preguntas-frecuentes" class="text-white">¿Cómo comprar?</a>
              </li>
              <!--  <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase"></h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Despacho a todo Chile</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">Contáctanos</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <p>Intagram</p>
                <a href="https://www.instagram.com/latienditadesimona_/" target="_blank" class="text-white">La Tiendita de Simona</a>
                
              </li>
              <li>
                <p>Whatsapp<p>
                  <p>+569 3514 5089</p>
              </li>
              <li>
                <p>Correo</p>
                <p>latienditadesimona2020@gmail.com</p>
              </li>
              <li>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="row" style=" background-color:rgba(24, 240, 186, 1)!important ;">
      <div class="col-3 d-none d-sm-none d-md-none d-lg-block d-xl-block d-xxl-block">
        <div class="text-center p-3">
          © 2020 Copyright:
          <a class="text-white" href="#">La Tiendita de Simona</a>
        </div>
      </div>
      <div class="col-12 col-lg-9 text-center p-10" >
          <img src="../../../assets/images/webpayplus.png" alt="webpay plus" class="p-10">
          <img src="../../../assets/images/transferencia.png" alt="transferencia" class="p-10">
      </div>
      <!-- <div class="col-4 text-center" >
        <img src="../../../assets/images/webpayplus.png" alt="webpay plus" style="padding-top: 15px;">
        <img src="../../../assets/images/transferencia.png" alt="transferencia" style="padding-top: 15px;">
    </div> -->
    </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</main>