<main>
  <!-- Footer -->
  <footer class="text-center text-white footer">
    <!-- Grid container -->
    <div class="container p-4">
      

      <!-- Section: Links -->
      <section class="">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <!--  <h5 class="text-uppercase">Links</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white">Link 1</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 2</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li>
            </ul> -->
          </div>
          <!--Grid column-->

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">INFORMACIÓN</h5>

            <ul class="list-unstyled mb-0">
              <li>
                <a href="#!" class="text-white"><i class="fas fa-angle-right"></i>&nbsp;Quienes somos</a>
              </li>
              <li>
                <a routerLink="/preguntas/preguntas-frecuentes" class="text-white"><i class="fas fa-angle-right"></i>&nbsp;¿Cómo comprar?</a>
              </li>
              <!--  <li>
                <a href="#!" class="text-white">Link 3</a>
              </li>
              <li>
                <a href="#!" class="text-white">Link 4</a>
              </li> -->
            </ul>
          </div>
          <!--Grid column-->

         

          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CONTÁCTANOS</h5>
  
            <ul class="list-unstyled mb-0">
              <!-- <li>
                <p><i class="fas fa-angle-right"></i>&nbsp;Intagram</p>
                <a href="https://www.instagram.com/latienditadesimona_/" target="_blank" class="text-white">La Tiendita de Simona</a>
                
              </li> --><!-- 
              <li>
                <p><i class="fas fa-angle-right"></i>&nbsp;Whatsapp<p>
                  <p>+569 3514 5089</p>
              </li> -->
              <li>
                <p><i class="fas fa-angle-right"></i>&nbsp;Correo:</p>
                <a class="text-white" href="mailto:latienditadesimona2020@gmail.com?subject=Desde%20La%20Tiendita%20de%20Simona&body=Estimados,%20solicito%20información%20de%20los%20siguientes%20productos:" role="button">La Tiendita de Simona</a>

              </li>
              <li>
              </li>
            </ul>
          </div>
          <!--Grid column-->

           <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">SÍGUENOS</h5>

            <!-- Section: Social media -->
      <section class="mb-4">
        <!-- Facebook -->
        <a class="btn btn-outline-light btn-floating m-2 fains" href="https://www.facebook.com/profile.php?id=100063997417214" target="_blank" role="button"><i class="fab fa-facebook-f  fa-2x"></i></a>

        <!-- Whatsapp -->
        <!-- <a class="btn btn-outline-light btn-floating m-2" href="#!" role="button"><i class="fab fa-whatsapp fa-2x"></i></a>
 -->
        <!-- Instagram -->
        <a class="btn btn-outline-light btn-floating m-2 fains" href="https://www.instagram.com/latienditadesimona_/" target="_blank" role="button"><i class="fab fa-instagram fa-2x"></i></a>
      </section>
      <!-- Section: Social media -->
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->

    <!-- Copyright -->
    <div class="row" style=" background-color:rgba(24, 240, 186, 1)!important ;">
      <div class="col-12 col-lg-3">
        <div class="text-center p-3">
          © {{ anio }} Copyright:
          <a class="text-white" href="#">La Tiendita de Simona</a>
        </div>
      </div>
      <div class="col-12 col-lg-9 text-center p-10" >
          <img src="assets/images/forma_pago.gif" alt="webpay plus" class="p-10 img-fluid">
      </div>
    </div>

    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</main>