<div class="container">
  <a mat-raised-button (click)="goBack()">Volver</a>
  <div class="row" *ngFor="let prod of producto">
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <div class="img-box">
        <img src="assets/images/{{prod.srcImg}}" class="img-thumbnail zoom" alt="...">
      </div>
    </div>
    <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
      <p></p>
      <h1 class="titulo">{{prod.nombre}}</h1>
      <br>
      <h1 class="precio">${{prod.precioActual}}</h1>
      <br>
      <hr>
      <p>{{prod.descripcion}}</p>
      <br>
      <hr>
      <p><span style="font-weight: bold;">Categoría:</span> {{prod.categoria}}</p>
    </div>
  </div>
</div>
<br>