<main>
    <div class="album py-5 ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card">
                        <img src="assets/images/corgi-comida.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">COMIDA</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/images/feliz-perro-shiba-ropa.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">ROPA</p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <img src="assets/images/cute-corgi-casa.jpg" class="card-img-top">
                        <div class="card-body">
                            <p class="card-text">CASA</p>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card">
                        <img src="assets/images/lindo-perro-corgi-paseo.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <p class="card-text">PASEO</p>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>


</main>