<main>
    <div class="album py-5 ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card text-white">
                        <a href=""><img src="assets/images/corgi-comida.jpg" class="card-img-top" alt="..."></a>
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">COMIDA</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white">
                        <img src="assets/images/feliz-perro-shiba-ropa.jpg" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">ROPA</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white">
                        <img src="assets/images/cute-corgi-casa.jpg" class="card-img-top">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">CASA</h2>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-white">
                        <img src="assets/images/lindo-perro-corgi-paseo.jpg" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">PASEO</h2>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>


</main> 