<main>
    <div class="album py-5 ">
        <div class="container">
            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-4">
                <div class="col">
                    <div class="card text-white"  [routerLink]="['/productos/alimentos', 'alimento']" (click)="getValueCategoria('todos-alimento')">
                        <a ><img src="../../../assets/images/hamster-comida.jpg" class="card-img-top" alt="..."></a>
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">ALIMENTOS</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white" [routerLink]="['/productos/accesorios-entretencion', 'Accesorios']" (click)="getValueCategoria('todos-accesorios')">
                        <img src="../../../assets/images/ave-accesorio.jpg" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">ACCESORIOS Y ENTRETENCIÓN</h2>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card text-white" [routerLink]="['/productos/ropa-cama', 'Ropa']" (click)="getValueCategoria('todos-cama')">
                        <img src="../../../assets/images/gato-cama.jpg" class="card-img-top">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">ROPA Y CAMA</h2>
                        </div>
                    </div>
                </div>

                <div class="col">
                    <div class="card text-white" routerLink="/productos/paseo-transporte"[routerLink]="['/productos/accesorios-entretencion', 'Accesorios']" (click)="getValueCategoria('todos-alimento')">
                        <img src="assets/images/lindo-perro-corgi-paseo.jpg" class="card-img-top" alt="...">
                        <div class="card-img-overlay">
                            <h2 class="card-title text-center">PASEO Y TRANSPORTE</h2>
                        </div>
                    </div>
                </div> 

            </div>
        </div>
    </div>


</main> 