<main>
    <nav class="navbar navbar-light bg-light">
        <div class="container">
          <a class="navbar-brand" href="#">
            <img src="https://www.paris.cl/on/demandware.static/-/Library-Sites-ParisSharedLibrary/es_CL/dwa8748abb/content/paris-logo.svg" alt="" width="30" height="24">
          </a>
        </div>
      </nav>
      <app-nav-bar></app-nav-bar>
      <app-img-menu></app-img-menu>
      <app-nav-tabs></app-nav-tabs>
      <app-product-cards></app-product-cards>
      <app-logo-marcas></app-logo-marcas>
      <app-footer></app-footer>
</main>
