<main>

    <div class="container">
        <div class="row">
            <div class="col" style="text-align: center;">
                <h1>PRODUCTOS</h1>
                <hr>
            </div>
        </div>
        <!--TABS-->
        <ul class="nav nav-tabs">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="#">Nuevos Productos</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Populares</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Más Vendidos</a>
            </li>
          </ul>
    </div>
</main>